.flex-center{
  display: flex;
  align-items: center;
}

.invoice{
  border-bottom: 1px solid #eceeef;
}

.invoice > tbody > tr > td{
  padding: 0;
}

.invoice input[type="text"],
.invoice input[type="number"]{
  border-radius: 0;
  border: 1px solid #fff;
  width: 100%;

  &:focus{
    box-shadow: 0 0 5px 0 rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}

.itemId{
  width: 10%;
  border-left: 1px solid #eceeef;
  border-right: 1px solid #eceeef;
}

.itemDescription{
  width: 55%;
  text-align: center;
  border-right: 1px solid #eceeef;
}

.itemAmount{
  width: 20%;
  text-align: center;
  border-right: 1px solid #eceeef
}

.itemAmount input[type="text"],
.itemAmount input[type="number"]{
  text-align: right;
}

.itemActions{
  width: 15%;
  text-align: center;
  border-right: 1px solid #eceeef;
}

.add-another button{
  margin-top: 10px;
}

.total-section{
  width: 30%;
  float: right;
}

.btn-submit{
  clear: both;
  display: block;
  margin-top: 20px;
}

table.table.total-section {
  margin-top: 10px;
}

.total-section th, .total-section td{
  text-align: right;
}

.total th, .total td{
  font-weight: 800;
}

#discount{
  border: none;
  width: 75px;
  text-align: right;
}

#discountType{
  height: 37px;
  width: 65px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  text-align: center;
}
