<div class="widgets">

  <div class="row">
    <div class="col-md-9">

      <ba-card title="Create Invoice" baCardClass="with-scroll">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
          <div class="row">
            <div class="col-md-6">
              <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture"
                                   [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="row flex-center">
                  <div class="col-md-4">
                    <label for="invoiceNumber">Invoice Number</label>
                  </div>

                  <div class="col-md-8">
                    <input type="text" class="form-control" name="invoiceNumber" id="invoiceNumber"
                           placeholder="eg. AFR0001" formControlName="invoiceNumber">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row flex-center">
                  <div class="col-md-4">
                    <label for="invoiceDate">Invoice Date</label>
                  </div>

                  <div class="col-md-8">
                    <my-date-picker id="invoiceDate" formControlName="invoiceDate" [options]="myDatePickerOptions"
                                     required></my-date-picker>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row flex-center">
                  <div class="col-md-4">
                    <label for="dueDate">Due Date</label>
                  </div>

                  <div class="col-md-8">
                    <my-date-picker formControlName="dueDate" id="dueDate" [options]="myDatePickerOptions"
                                     required></my-date-picker>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table invoice">
                <thead>
                  <tr>
                    <th class="itemId">Item Id</th>
                    <th class="itemDescription">Description</th>
                    <th class="itemAmount">Amount</th>
                    <th class="itemActions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="items" *ngFor="let item of myForm.controls.items.controls; let i=index">
                    <td class="itemId">{{i + 1}}</td>
                    <td class="itemDescription" [formGroupName]="i">
                      <input type="text" class="form-control" formControlName="description">
                    </td>
                    <td class="itemAmount" [formGroupName]="i">
                      <input type="number"
                             onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                             (keyup)="onAmountChange()"
                             (change)="onAmountChange()"
                             class="form-control" formControlName="amount" placeholder="0.00">
                    </td>
                    <td class="itemActions"><button *ngIf="myForm.controls.items.controls.length > 1"
                                (click)="removeItem(i)"
                                class="btn btn-default btn-icon"
                                type="button"><i class="ion-close"></i></button></td>
                  </tr>
                </tbody>
              </table>

              <table class="table total-section">
                <tbody>
                  <tr>
                    <th colspan="3">Subtotal</th>
                    <td>{{ subTotal | currency:'USD':true:'1.2-2' }}</td>
                  </tr>
                  <tr>
                    <th><label for="discount">Discount</label></th>
                    <td><input id="discount"
                               type="number"
                               placeholder="0.00"
                               min="0"
                               [(ngModel)]="discount"
                               [ngModelOptions]="{standalone: true}"
                               onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                               (change)="onAmountChange()"
                               (keyup)="onAmountChange()"/></td>
                    <td>
                      <select
                        id="discountType"
                        [(ngModel)]="discountType"
                        [ngModelOptions]="{standalone: true}"
                        (change)="onAmountChange()">
                        <option>%</option>
                        <option>$</option>
                      </select>
                    </td>
                    <td>{{ discountCalculated | currency:'USD':true:'1.2-2' }}</td>
                  </tr>
                  <tr class="total">
                    <th colspan="3">Total</th>
                    <td>{{ total | currency:'USD':true:'1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>

                <div class="add-another">
                  <button (click)="addItem()" class="btn btn-default btn-with-icon" type="button"><i class="ion-plus"></i>Add another item</button>
                </div>

                <div class="margin-20">
                  <button type="submit" class="btn btn-primary pull-right btn-submit" [disabled]="!myForm.valid">Save</button>
                </div>
                <div class="clearfix"></div>

             </div>
          </div>
          </form>
      </ba-card>
    </div>

    <div class="col-md-3">
      <ba-card title="Actions" baCardClass="with-scroll">
        <button type="button" class="btn btn-primary btn-icon"><i class="ion-android-download"></i> Preview</button>
        <button type="button" class="btn btn-success btn-icon"><i class="ion-android-download"></i> Download PDF
        </button>
      </ba-card>
    </div>
  </div>
</div>
